.footer {
    position: fixed;
    bottom: 0; /* Pins the element to the bottom edge of the screen. */
    left: 0;
    width: 100%; /* Stretches the footer to the full width of the screen */
    z-index: 1000; /* To keep the footer on top of other elements */
    background-color: #333; /* Background color */
    color: white;
    padding: 10px 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

.footer p {
    color: white;
    font-size: 1rem;
}

/* Media queries for devices with screen width up to 480px */
@media (max-width: 480px) {
    .footer p {
      font-size: 0.9rem;
    }
}