.header {
    position: fixed;
    top: 0; /* Pins an element to the top of the screen. */
    left: 0;
    width: 100%; /* Stretches the header to the full width of the screen */
    z-index: 1000; /* To make the header appear on top of other elements */
    background-color: #333; /* Background color */
    color: white;
    padding: 10px 20px;
    
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 60px; /* 25% of the window height */
    background-size: cover;
    background-position: center;
    padding: 0 20px;
    align-items: center;
    justify-content: center; /* Centering content */
}

/* Container for the logo and name of the tavern */
.header-content {
  display: flex;
  align-items: center;
  gap: 10px; /* Distance between logo and name */
}

.logo {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
}

.tavern-name {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 2rem;
}

/* Media queries for devices with screen width up to 768px */
@media (max-width: 768px) {
    .tavern-name {
      font-size: 2rem;
    }
}
  
/* Media queries for devices with screen width up to 480px */
@media (max-width: 480px) {
    .tavern-name {
      font-size: 1rem;
    }
}