
<div class="effect-group">
    <div class="slider-container">
        <h3>Weather</h3>
        <input
            type="range"
            min="0"
            max="75"
            [(ngModel)]="weatherIntensity"
            (input)="updateRainIntensity(weatherIntensity)"
            [ngClass]="currentIconClass"
            class="styled-range weather">
    </div>    
    <div class="buttons">
        <button 
            *ngFor="let weather of weatherKeys; let i = index"
            (click)="toggleWeather(weather)"
            [ngClass]="{
                'active-btn': activeWeather === weather, 
                'glow-btn': activeWeather !== weather
                }">
            {{ weather }}
        </button>
    </div>
</div>
