@import url('buttons.scss');

.effects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Three columns */
  gap: 30px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.effect-group {
  display: flex;
  flex-direction: column; /* Column for header, slider and buttons */
  gap: 20px; /* Indents between elements */
  width: 100%;
}

.effect-group h3 {
  flex-shrink: 0; /* The title takes up just the right amount of space */
  font-size: 1.5rem;
  margin: 0;
}

.slider-container {
  display: flex;
  align-items: center; /* Center the title and slider vertically */
  gap: 15px; /* Space between title and slider */
  width: 100%;
}

input[type="range"] {
  flex-grow: 1; /* Allows the runner to take up maximum space */
  margin-top: 10px;
  width: 100%; /* Let's make sure the slider takes up the entire width. */
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap; /* Don't wrap the title */
}

.styled-range {
  -webkit-appearance: none;
  width: 100%; /* The slider takes up the entire available width. */
  height: 4px;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

/* Styles for buttons */
.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons button {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  height: 6rem;
  width: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%; /* The icon will take up 60% of the button */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Text under the icon */
  padding-bottom: 5px; /* Отступ для текста под иконкой */
}

/* Indent for text under icon */
@media (max-width: 1024px) {
  .effects {
    grid-template-columns: 1fr; /* One column */
  }
}

/* Media query for screens up to 768px */
@media (max-width: 768px) {  
  .effect-group {
      align-items: flex-start;
  }

  .effect-group h3 {
      font-size: 1.3rem;
  }
}

/* Media query for screens up to 480px */
@media (max-width: 480px) {
  .effect-group h3 {
      font-size: 1.2rem;
  }

  .buttons button {
      font-size: 0.9rem;
  }

  .slider-image {
      height: 25px; /* Reduce image size for small screens */
  }
}