@import url('buttons.scss');

.effects {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Три колонки */
  gap: 30px;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.effect-group {
  display: flex;
  flex-direction: column; /* Колонка для заголовка, бегунка и кнопок */
  gap: 20px; /* Отступы между элементами */
  width: 100%;
}

.effect-group h3 {
  flex-shrink: 0; /* Заголовок занимает только нужное место */
  font-size: 1.5rem;
  margin: 0;
}

.slider-container {
  display: flex;
  align-items: center; /* Центрируем заголовок и бегунок по вертикали */
  gap: 15px; /* Отступ между заголовком и бегунком */
  width: 100%;
}

input[type="range"] {
  flex-grow: 1; /* Позволяет бегунку занимать максимальное пространство */
  margin-top: 10px;
  width: 100%; /* Убедимся, что бегунок занимает всю ширину */
}

h3 {
  margin: 0;
  font-size: 1.5rem;
  white-space: nowrap; /* Не переносить заголовок */
}

.styled-range {
  -webkit-appearance: none;
  width: 100%; /* Бегунок занимает всю доступную ширину */
  height: 4px;
  border-radius: 5px;
  outline: none;
  transition: background 0.3s;
}

/* Стили для кнопок */
.buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.buttons button {
  font-size: 0.8rem;
  cursor: pointer;
  background-color: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  height: 6rem;
  width: 6rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%; /* Иконка будет занимать 60% кнопки */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end; /* Текст под иконкой */
  padding-bottom: 5px; /* Отступ для текста под иконкой */
}

/* Медиа-запросы для экрана менее 1024px */
@media (max-width: 1024px) {
  .effects {
    grid-template-columns: 1fr; /* Одна колонка */
  }
}

/* Медиа-запрос для экранов до 768px */
@media (max-width: 768px) {  
  .effect-group {
      align-items: flex-start;
  }

  .effect-group h3 {
      font-size: 1.3rem;
  }
}

/* Медиа-запрос для экранов до 480px */
@media (max-width: 480px) {
  .effect-group h3 {
      font-size: 1.2rem;
  }

  .buttons button {
      font-size: 0.9rem;
  }

  .slider-image {
      height: 25px; /* Уменьшаем размер изображения для маленьких экранов */
  }
}