<div class="effects">
    <!-- Songs -->
    <div class="effect-group">
        <div class="slider-container">
            <h3>Songs</h3>
            <input type="range" min="0" max="100" [(ngModel)]="songVolume" class="styled-range song">
        </div>
        <div class="buttons">
            <button (click)="toggleSong('Explore')">Explore</button>
            <button (click)="toggleSong('Combat')">Combat</button>
            <button (click)="toggleSong('Combat')">Chase</button>
            <button (click)="toggleSong('Combat')">Victory</button>
            <button (click)="toggleSong('Combat')">Defeat</button>
        </div>
    </div>

    <!-- Time -->
    <div class="effect-group">
        <h3>Time</h3>
        <div class="buttons">
            <button (click)="setTime('Dawn')">Dawn</button>
            <button (click)="setTime('Midday')">Midday</button>
            <button (click)="setTime('Day')">Day</button>
            <button (click)="setTime('Evening')">Evening</button>
            <button (click)="setTime('Twilight')">Twilight</button>
            <button (click)="setTime('Night')">Night</button>
            <button (click)="setTime('Midnight')">Midnight</button>
        </div>
    </div>

    <!-- Weather -->
    <div class="effect-group">
        <div class="slider-container">
            <h3>Weather</h3>
            <input
            type="range"
            min="0"
            max="100"
            [(ngModel)]="weatherIntensity"
            (input)="updateThumbIcon()"
            [ngClass]="currentIconClass"
            class="styled-range weather"
            />
        </div>
        <div class="buttons">
            <button (click)="toggleWeather('Clear Sky')" class="clear">Clear Sky</button>
            <button (click)="toggleWeather('Overcast')" class="overcast">Overcast</button>
            <button (click)="toggleWeather('Rain')" class="rain">Rain</button>
            <button (click)="toggleWeather('Heavy Rain')" class="heavy_rain">Heavy Rain</button>
            <button (click)="toggleWeather('Thunderstorm')" class="thunderstorm">Thunderstorm</button>
            <button (click)="toggleWeather('Fog')">Fog</button>
            <button (click)="toggleWeather('Snowfall')">Snowfall</button>
            <button (click)="toggleWeather('Blizzard')">Blizzard</button>
            <button (click)="toggleWeather('Windy')">Windy</button>
            <button (click)="toggleWeather('Gale')">Gale</button>
            <button (click)="toggleWeather('Hail')">Hail</button>
            <button (click)="toggleWeather('Heatwave')">Heatwave</button>
            <button (click)="toggleWeather('Cold Snap')">Cold Snap</button>
            <button (click)="toggleWeather('Dust Storm')">Dust Storm</button>
            <button (click)="toggleWeather('Tropical Storm')">Tropical Storm</button>
            <button (click)="toggleWeather('Ethereal Storm')">Ethereal Storm</button>
            <button (click)="toggleWeather('Acid Rain')">Acid Rain</button>
            <button (click)="toggleWeather('Lightning Storm')">Lightning Storm</button>
            <button (click)="toggleWeather('Purple Rain')">Purple Rain</button>
            <button (click)="toggleWeather('Meteor Shower')">Meteor Shower</button>
        </div>
    </div>

    <!-- Ambience -->
    <div class="effect-group">
        <h3>Ambience</h3>
        <div class="buttons">
            <button (click)="toggleAmbience('Forest')">Forest</button>
            <button (click)="toggleAmbience('Dungeon')">Dungeon</button>
            <button (click)="toggleAmbience('City')">City</button>
            <button (click)="toggleAmbience('Throne')">Throne</button>
            <button (click)="toggleAmbience('Castle Courtyard')">Castle Courtyard</button>
            <button (click)="toggleAmbience('Castle Keep')">Castle Keep</button>
            <button (click)="toggleAmbience('Sea')">Sea</button>
            <button (click)="toggleAmbience('Arcane')">Arcane</button>
            <button (click)="toggleAmbience('Grim or Dark')">Grim or Dark</button>
            <button (click)="toggleAmbience('Ancient Temple')">Ancient Temple</button>
            <button (click)="toggleAmbience('Desert')">Desert</button>
            <button (click)="toggleAmbience('Arctic')">Arctic</button>
            <button (click)="toggleAmbience('Abandoned Ruins')">Abandoned Ruins</button>
            <button (click)="toggleAmbience('Swamp')">Swamp</button>
            <button (click)="toggleAmbience('Astral Plane')">Astral Plane</button>
            <button (click)="toggleAmbience('Mountain')">Mountain</button>
            <button (click)="toggleAmbience('Graveyard')">Graveyard</button>
            <button (click)="toggleAmbience('Lava Cave')">Lava Cave</button>
            <button (click)="toggleAmbience('Enchanted Forest')">Enchanted Forest</button>
            <button (click)="toggleAmbience('Necropolis')">Necropolis</button>
        </div>
    </div>

    <!-- Oneshots -->
    <div class="effect-group">
        <h3>Oneshots</h3>
        <div class="buttons">
            <button (click)="playOneshot('Alarm')">Alarm</button>
            <button (click)="playOneshot('Alarm Horn')">Alarm Horn</button>
            <button (click)="playOneshot('Church Bell')">Church Bell</button>
            <button (click)="playOneshot('Crow Caw')">Crow Caw</button>
            <button (click)="playOneshot('Seagull Cry')">Seagull Cry</button>
            <button (click)="playOneshot('Wolf Howl')">Wolf Howl</button>
            <button (click)="playOneshot('Wolf Growl')">Wolf Growl</button>
            <button (click)="playOneshot('Dragon Roar')">Dragon Roar</button>
            <button (click)="playOneshot('Monster Roar')">Monster Roar</button>
            <button (click)="playOneshot('Orc Scream')">Orc Scream</button>
            <button (click)="playOneshot('Explosion Boom')">Explosion Boom</button>
            <button (click)="playOneshot('Water Splash')">Water Splash</button>
            <button (click)="playOneshot('Door Open')">Door Open</button>
            <button (click)="playOneshot('Door Close')">Door Close</button>
            <button (click)="playOneshot('Chest Open')">Chest Open</button>
            <button (click)="playOneshot('Chest Close')">Chest Close</button>
            <button (click)="playOneshot('Chain Rattle')">Chain Rattle</button>
            <button (click)="playOneshot('Shield Block')">Shield Block</button>
            <button (click)="playOneshot('Lock Click')">Lock Click</button>
            <button (click)="playOneshot('Glass Break')">Glass Break</button>
            <button (click)="playOneshot('Fire Crackle')">Fire Crackle</button>
            <button (click)="playOneshot('Arrow Hit')">Arrow Hit</button>
            <button (click)="playOneshot('Coin Jingle')">Coin Jingle</button>
            <button (click)="playOneshot('Branch Snap')">Branch Snap</button>
            <button (click)="playOneshot('Ghostly Whisper')">Ghostly Whisper</button>
            <button (click)="playOneshot('Spell Cast')">Spell Cast</button>
            <button (click)="playOneshot('Rockfall')">Rockfall</button>
            <button (click)="playOneshot('Glass Shatter')">Glass Shatter</button>
            <button (click)="playOneshot('Water Drip')">Water Drip</button>
            <button (click)="playOneshot('Lightning Strike')">Lightning Strike</button>
        </div>
    </div>
</div>
