<!--======HEADER======-->
<app-header></app-header>
<!--==================-->

<!--=====BACKGROUND=====-->
<div class="backplace" [style.backgroundImage]="backgroundImage" [attr.data-time-of-day]="timeOfDay">
  <app-time-overlay></app-time-overlay>
  <app-weather-overlay></app-weather-overlay>
  <div class="location">
      <button class="location-name-button" (click)="navigateToLocations()">{{ locationName }}</button>
  </div>
  <div class="portal-wrap">
    <app-portal (click)="toggleMainContent()"></app-portal>
  </div>
</div>
<!--==============-->

<!--=====MAIN=====-->
<div class="main-content" *ngIf="isMainContentVisible">
  <router-outlet></router-outlet>
</div>
<!--==============-->

<!--======FOOTER======-->
<app-footer></app-footer>
<!--==================-->