<!--======HEADER======-->
<app-header></app-header>
<!--==================-->

<!--=====BACKGROUND=====-->
<div class="backplace" [style.backgroundImage]="backgroundImage">
  <div class="location">
      <button class="location-name-button" (click)="navigateToLocations()">{{ locationName }}</button>
  </div>
</div>
<!--==============-->

<!--=====MAIN=====-->
<div class="main-content">
  <router-outlet></router-outlet>
</div>
<!--==============-->

<!--======FOOTER======-->
<app-footer></app-footer>
<!--==================-->